@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Elecciones</h1>
</div>
   @foreach (Partido item in ViewBag.Partidos)
   {
        <p>@item.Nombre</p>
        <a href="@item.SitioWeb">Pagina de @item.Nombre</a>
        <img src="/Imagenes/@item.Logo" alt="imagen-@item.Nombre">
        <p>@item.FechaFundacion</p>
        <p>@item.CantidadDiputados</p>
        <p>@item.CantidadSenadores</p>
   }

