@{
    ViewData["Title"] = "Detalle sobre el candidato";
}
<div class="infoGeneral">
<p>Nombre: @ViewBag.DatosCandidato.Nombre</p>
<p>Apellido: @ViewBag.DatosCandidato.Apellido</p>
<p>Fecha de nacimiento: @ViewBag.DatosCandidato.FechaNacimiento</p>
<img src="@ViewBag.DatosCandidato.Foto" alt="">
<p>Postulacion: @ViewBag.DatosCandidato.Postulacion</p>
</div>
