@{
    ViewData["Title"] = "Detalle sobre el candidato";
}
<p>@ViewBag.DatosCandidato.Nombre</p>
<p>@ViewBag.DatosCandidato.Apellido</p>
<p>@ViewBag.DatosCandidato.FechaNacimiento</p>
<img src="@ViewBag.DatosCandidato.Foto" alt="">
<p>@ViewBag.DatosCandidato.Postulacion</p>