@{
    ViewData["Title"] = "Detalle partido";
}

<div class="text-center">
    <h1 class="display-4">Detalle partido</h1>
    <h2>@ViewBag.DatosPartido.Nombre</h2>
    <img src="/Imagenes/@ViewBag.DatosPartido.Logo" alt="">
    <p><a href="@ViewBag.DatosPartido.SitioWeb">Pagina JXC</a></p>
    <h2>@ViewBag.DatosPartido.FechaFundacion</h2>
    <h2>@ViewBag.DatosPartido.CantidadDiputados</h2>
    <h2>@ViewBag.DatosPartido.CantidadSenadores</h2>
    <h1 class="display-4"> Candidatos</h1>
    @foreach (Candidato item in ViewBag.ListaCandidatos)
    {
    <p>@item.Apellido</p>
    <p>@item.Nombre</p>    
    <p>@item.FechaNacimiento</p>
    <p>@item.Foto</p>
    <p>@item.Postulacion</p>
    }
</div>


